@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pseudocode</h5>
                </div>
                <div class="card-body">
                    <Variables @bind-pseudocode="pseudocode" @bind-cscode="cscode"
                        @bind-log="log" @bind-variables="variables"/>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">C# Code</h5>
                </div>
                <div class="card-body">
                    @foreach (var line in cscode)
                    {
                        <Row content="@line" />
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Log</h5>
            </div>
            <div class="card-body">
                @foreach (var entry in log)
                {
                    @if (entry.Type == "0")
                    {
                        <Row content="@entry.Text" />
                    } else {
                        <Row content="@entry.Text" />
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {
    public List<string> pseudocode = new List<string>();
    public List<string> cscode = new List<string>{
        "using System;",
        "namespace pasta",
        "{",
        "  class Program",
        "  {",
        "    static void Main(string[] args)",
        "    {",
        "      Console.WriteLine(\"Hello World!\");",
        "    }",
        "  }",
        "}"
    };
    public List<LogEntry> log = new List<LogEntry>();
    public List<Variable> variables = new List<Variable>();
}