@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pseudocode</h5>
                </div>
                <div class="card-body">
                    <button @onclick="@( () => cscode.Add(DateTime.Now.ToString()) )">a</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">C# Code</h5>
                </div>
                <div class="card-body">
                    @foreach (var line in cscode)
                    {
                        <p>@line</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<string> cscode = new List<string>();
}