<div class="row mb-3">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-header">
                <div class="float-right">
                    <button class="btn btn-primary"
                        @onclick="ToggleAbout"/>
                </div>
            </div>
            <div class="card-body">
                Download .NET Core at https://dotnet.microsoft.com/download
                You can create a new project by navigating to the directory you'll be using and run in the terminal the following command line:
                dotnet new console -o "FOLDER NAME"; cd "FOLDER NAME"; dotnet run
                This will run the progam and show "Hello World!" in the console
                From there, use the code available here on Progam.cs on line 9 (where the "Hello World!" code) 
            </div>
        </div>
    </div>
</div>

@code {
    // Parameters and callbacks to parent component
    [Parameter] public bool showAbout { get; set; }
    [Parameter] public EventCallback<bool> showAboutChanged { get; set; }
    private Task showAboutHasChanged() => showAboutChanged.InvokeAsync(showAbout);

    // Methods
    void ToggleAbout() {
        showAbout = !showAbout;
        showAboutHasChanged();
    }
}