@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">I C# What You Did</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" @onclick="ToggleAbout">About</a>
        </div>
    </nav>

    <div class="content px-4">
        @if (showAbout) 
        {
            <About @bind-showAbout="showAbout"/>
        }

        @Body
    </div>
</div>

@code {
    bool showAbout = false;

    void ToggleAbout() => showAbout = !showAbout;
}