@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">I C# What You Did</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" @onclick="ToggleAbout">About</a>
        </div>
    </nav>

    <div class="content px-4">
        @if (showAbout)
        {
            <div class="row mb-3">
                <div class="col-10 offset-1">
                    <div class="card">
                        <div class="card-body">
                            Click "About" again to collapse this section.
                        </div>
                    </div>
                </div>
            </div>
        }

        @Body
    </div>
</div>

@code {
    bool showAbout = false;

    void ToggleAbout() => showAbout = !showAbout;
}